body {
    background-color: #f8f8f8;
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 50px;
}
header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}
#About img {
border-radius: 100%;
}
h1 {
    color: brown;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
section {
    padding: 40px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.experience-list {
    list-style: none;
    padding: 0;
}
.experience-list li {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.connect-links {
    list-style: none;
    padding: 0;
}
.connect-links li {
    margin-bottom: 10px; 
    
}
.connect-links a {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
.connect-links a:hover {
    background-color: #555;
}