body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    background: rgb(53, 53, 54);
    padding: 32px 64px;
    font-size: 32px;
    color: white;
  }
  main {
    display: flex;
    flex: 1;
  }
  aside {
    width: 300px;
    flex-shrink: 0;
    background: palevioletred;
    color: white;
  }
  li {
    font-size: 24px;
    list-style-type: none;
  }
  
  section {
    padding: 16px;
    margin: 16px;
    font-size: 24px;
    background: blanchedalmond;
  }
  
  footer {
    height: 96px;
    background: rgb(53, 53, 54);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.container{
    text-decoration: none;
    list-style: none;
    
}
.container >li{  
    padding-top: 20px; 
    font-size: 1.2em; 
}
.container >li >a { 
    padding: 10px ;
    padding-top: 20px;
    text-align: center;
    font-size: 1em; 
    color: #fff !important;
    text-decoration: none;
}
.search-input{ 
    margin-left: auto;
    height: 30px; 
  border: 0; 
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ffeead;
  color: #ffeead;
  font-size: 20px;
  padding-bottom: 10px;
}
.search-li{ 
    padding-top: 10px !important;
    margin-left: auto;  
    width: 400px;
    
}
#About img {
border-radius: 100%;
}
 
section {
    padding: 40px;
    margin: 20px 40px;
    background-color: #fff;
    border-radius: 15px;
    border: #f388df solid 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.experience-list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));  
   grid-auto-rows: 110px;
   align-content: center;
}
 
.experience-list li {
    align-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.Exprience-Columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.connect-links {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
}
.connect-links li {
    margin-bottom: 10px; 
    flex: 1;
}
.connect-links a {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 20px;
    background-color: #dcd5d5;
    color: #454242;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
.connect-links a:hover {
    background-color: #555;
}
footer{
background-color: #333;
color: #fff;
padding: 10px 0; 
text-align: center; 
display: flex;
}
footer p{
  color: white;
}
.columns{
    display: flex;
}
.column{
    margin-right: 30px;
}
.Footer-Content{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}
.Footer-Item{
margin: 0 20px;
text-align: center;
}


   
/* Tablet Styles */
@media screen and (max-width: 1000px) {
    h2{
         font-size: 25px;
    }
    main {
        flex-direction: column;
      }
      header {
        text-align: center;
        padding: 24px
      }
      aside {
        width: auto;
      }
      ul {
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 0;
      }
}

      
/*  Mobile Styles   */ 
@media all and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
    }
    .container > li {
        flex: 1 1 100%;
      }
    
    .search > input {
      text-align: center;
    }
  }